@inject NavigationManager Nav

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Dottor.Blazor.Demo1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLinkPreventDefault class="nav-link" href="" Match="NavLinkMatch.All" @onclick="@(() => NavigateTo(""))">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLinkPreventDefault>
        </div>

        <div class="nav-item px-3">
            <NavLinkPreventDefault class="nav-link" href="counter" @onclick="@(() => NavigateTo("counter"))">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLinkPreventDefault>
        </div>

        <div class="nav-item px-3">
            <NavLinkPreventDefault class="nav-link" href="weather" @onclick="@(() => NavigateTo("weather"))">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLinkPreventDefault>
        </div>
    </nav>
</div>

@code {
    private void NavigateTo(string uri)
    {
        Nav.NavigateTo(uri, true);
    }
}